<% include ../partials/header  %>
<% include ./partials/header %>

				<div class="ui container two column centered stackable grid">
					<div class="four wide column">
						<div class="ui card">
							<div class="small image">
								<img src="<%= currentUser.google.image.url.replace('?sz=50', '')%>" alt="">
							</div>
							<div class="content">
							    <a class="header"><%= currentUser.google.displayName %></a>
							    <div class="meta">
							      <span class="date">Joined <%= new Date(currentUser.createdAt).toDateString() %></span>
							    </div>
							    <div class="description">
							    	<form class="ui form" id="bio-form">
								    	<textarea style = "resize:none; height : 100px;" id="bio" name= "bio" placeholder = "Enter custom bio here!"><%=currentUser.bio%></textarea>
								    	<button type="button" onclick="updateBio()" class="ui blue basic button">Save</button>
							    	</form>
							    </div>
							</div>
							<div class="extra content">
							    <a>
							      <i class="square write icon"></i>
							      <%= currentUser.reviews.length %> Reviews
							    </a>
						    </div>
						</div>			
					</div>
					<div class="twelve wide column">
						<h2 class="ui header">Favorite Activities</h2>
						<div id="activities">
							<% currentUser.favActivities.forEach(function(f, i) { %>
								<div class="ui segment"><%= f %><span class="pull-right" onclick="removeActivity(<%=i%>)"><i class="icon remove"></i></span></div>
							<% }); %>
						</div>
						<div class="ui divider"></div>
						<form class="ui form" id="activity-form">
							<div class="field">
								<input type="text" id="activity-input" name="activity">
							</div>
							<button class="ui basic button blue" onclick="updateActivity()" type="button"><i class="add icon"></i> Add</button>
						</form>
					</div>
					<div class="sixteen wide column">
						<div class="ui statistics">
						  <div class="statistic">
						    <div class="value">
								<% var count = 0; currentUser.reviews.forEach(function(r){ if(!r.content) count--; }); count += currentUser.reviews.length %>
						      <i class="write square icon"></i> <%= count %>
						    </div>
						    <div class="label">
						      Reviews
						    </div>
						  </div>
						  <div class="statistic">
						    <div class="value">

						      <i class="star icon"></i> <%= currentUser.reviews.length %>
						    </div>
						    <div class="label">
						      Ratings
						    </div>
						  </div>
						  <div class="statistic">
						    <div class="value">
						      <i class="empty heart icon"></i> <%= currentUser.favPlaces.length %>
						    </div>
						    <div class="label">
						      Favorited
						    </div>
						  </div>
						</div>
					</div>
				</div>

<% include ./partials/footer %>
<% include ../partials/footer  %>